<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="DSLR - MIRROR" />
	<title>DSLR - MIRROR</title>
	<%- htmlWebpackPlugin.tags.headTags %>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="font/bootstrap-icons.css" />
</head>
<body>
	<hello-world></hello-world>
	<dslr-app></dslr-app>
</body>
</html>