<% include partials/header %>
<%
jsFiles.push("https://oauth.io/auth/download/latest/oauth.js");
jsFiles.push("/js/home.js");
%>
<div class="main d-flex w-100 h-100 mx-auto flex-column">
	<div id="stageTouch" class="section ">
		<div class="touch-me-btn rounded-circle mx-auto my-auto">TOUCH ME</div>
	</div>
	<div id="stageCount" class="section">
		<div class="counting-msg mx-auto my-auto"><div class="counting-num my-auto text-center">3</div></div>
	</div>
	<div id="stageMsg" class="section">
		<div class="mx-auto my-auto">
			<h1 class="text-center instruction-msg">Say cheese!!!!!!!</h1>
		</div>
	</div>
	<div id="stageImage" class="section active">
		<div class="tools d-flex w-100 p-3 justify-content-end">
			<div class="toolbox d-flex flex-column">
				<a href="#" class="btn btn-lg btn-primary">PRINT</a>
				<a href="#" id="shareOnTwitter" class="btn btn-lg btn-primary">TWITTER</a>
				<a href="#" class="reset-btn btn btn-lg btn-primary">DONE</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var counterConfig = <%- JSON.stringify(counterConfig) %>;
</script>
<% include partials/footer %>
